@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/GreatVibes-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/JuliusSansOne-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(../fonts/Quicksand-VariableFont_wght.woff2) format('woff2');
}

@import 'tailwindcss';

@theme {
  --color-light-rose: #e3bac2;
  --color-light-purple: #cdbddf;
  --color-light-pink: #ddaed3;
  --color-light-teal: #d4c5cf;

  --color-dark-gold: #62615b;
  --color-light-green: #c5d4ca;

  --color-button-hover: --alpha(var(--color-light-rose) / 40%);
  --color-footer-from: #667172;
  --color-footer-to: #363936;

  --font-heading: 'Julius Sans One', sans-serif;
  --font-body: 'Quicksand', sans-serif;
  --font-script: 'Great Vibes', cursive;
}

.fade-in-up {
  transition: opacity 0.1s linear, transform 0.1s linear;
}

/* Hides scrollbar for WebKit (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hides scrollbar for Firefox */
/* Hides scrollbar for IE/Edge (older) */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
