@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
}

/* 2. Variable Italic */
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2')
    format('woff2');
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Playfair Display', Georgia, serif;

  /* 1. The Deep Note (Deep Midnight Teal) */
  /* Used for: Headings, Footer Background, Education Section */
  --color-brand-dark: #0f2532;

  /* 2. The Body Note (Muted Slate) */
  /* Used for: Paragraph text */
  --color-brand-primary: #465e69;

  /* 3. The Accent (Rose Gold) */
  /* Used for: Small Labels, Frames, Borders, Italic highlights */
  --color-brand-gold: #d1a89d;

  /* 4. The Background (Cool Mist) */
  /* Used for: Gallery BG, Contact BG */
  --color-brand-light: #f3f6f8;
}

/* === 3. GLOBAL DEFAULTS === */
body {
  /* Force black background to prevent white flashes during hero scroll on mobile */
  background-color: black;
  /* Improve font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hides scrollbar for WebKit (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hides scrollbar for Firefox */
/* Hides scrollbar for IE/Edge (older) */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}
